doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">
        title Document
    body 
        include components/mixin 
        header 
            +menu(mainMenu)
            .flex.adv
                .adv2
                    +line(line, text="SOCIAL MARKETING & ANALYTICS")
                    h1.flex Pricing Table
                    p Lorem ipsum dolor sit amet, consectetur adipisicing
                    p elit, sed do eiusmod tempor incididunt ut.
        main 
            +card(cardInfo.satelite)
            +card(cardInfo.mars)
            +card(cardInfo.rocket)
        footer 
            +menu(mainMenu, "dark")